<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='navbar-nav mr-auto'>
  </ul>
  <ul class='navbar-nav ml-auto'>
    <li class='nav-item'>
      <a  class='nav-link' 
          routerLinkActive='active'
          [routerLink]="['/user-registration']"
          *ngIf="!currentUsername">
        Sign up
      </a>
    </li>
    <li class='nav-item'>
      <a  class='nav-link' 
          routerLinkActive='active' 
          [routerLink]="['/user-login']"
          *ngIf="!currentUsername">
        Sign in
      </a>
    </li>
    <li class='nav-item'>
      <a  class='navbar-brand'
          *ngIf="currentUsername">
        {{ 'Welcome ' + currentUsername + '!' }}
      </a>
    </li>
    <li class='nav-item'>
      <button type="button" 
              class="btn btn-primary navbar-btn"
              (click)="signOut()"
              *ngIf="currentUsername">
        Sign out
      </button>
    </li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>